@model crud.Models.Dokumentacja

@{
    <!-- tytul strony (chodzi o zakladke) -->
    ViewBag.Title = "Wpis o dokumencie";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Utwórz wpis o dokumencie
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dokumentacja</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p style="text-align: left; color: red;">Podaj identyfikator projektu</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.idProjektu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idProjektu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nazwa dokumentu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nazwaDokumentu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nazwaDokumentu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Czy ukończony?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.czyUkonczony)
                    @Html.ValidationMessageFor(model => model.czyUkonczony, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<input type="button" value="Wróć" class="btn btn-primary btn-md przyciskPowrot" onclick="window.location='@Url.Action("Pracownik", "Home")'" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
