@model crud.Models.Dokumentacja

@{
    <!-- tytul strony -->
    ViewBag.Title = "Usuwanie dokumentacji";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Arima+Madurai&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Pracownik", "Home")">Pracownicy</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Dokumentacja", "Home")">Dokumentacja</a></li>
        <li class="breadcrumb-item active">Usuń dokument</li>
    </ol>
</div>

<!-- trzeba dać w kontener żeby nie przylegały do krawędzi ekranu -->
<div class="container">
    <!-- trzeba dać card-columns żeby były odstępy od siebie kart i div z klasą row aby było responsywne -->
    <div class="row">
        <!-- mx-auto centruje karty jak zmniejszysz ekran do sytuacji że będzie 1 karta w wierszu -->
        <div class="mx-auto col-md-6">
            <div class="card text-white" style="background-color: #2b6198;">
                <div class="card-body">
                    <h5 class="card-title text-center"><i class="fas fa-trash-alt fa-7x"></i></h5>
                    <p class="card-text">
                        <div class="form-horizontal">
                            <div style="font-family: 'Arima Madurai', sans-serif; font-size:90%;">

                                <div>
                                    <dl class="dl-horizontal col-md-12" style="font-size: 75% !important">
                                        <dt style="font-weight: 100;">
                                            Nazwa dokumentu
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.nazwaDokumentu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt style="font-weight: 100;">
                                            Czy ukończony?
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.czyUkonczony, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                    </dl>

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                    <div class="form-actions no-color d-flex justify-content-center">
                                        @Html.ActionLink(" ", "Dokumentacja", null, null, new { @class = "btn btn-dark fas fa-angle-double-left fa-2x col-md-6", @data_toggle = "tooltip", @data_placement = "bottom", title = "Wróć", @style = "float: left;" })
                                        <button type="submit" style="width: 40%; float: left; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;"><i data-toggle="tooltip" data-placement="bottom" title="Usuń wpis" class="btn btn-danger fas fa-times-circle col-md-12 fa-2x"></i></button>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>