@model crud.Models.Uczestnik

@{
    <!-- tytul strony -->
    ViewBag.Title = "Usuwanie uczestnika";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Usuwanie uczestnika
</div>

<h3>Czy na pewno chcesz usunąć tego uczestnika imprezy?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię i nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imieNazwisko)
        </dd>

        <dt>
            Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nrTelefonu)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Wróć", "Uczestnicy_Lista", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
        <input type="submit" value="Usuń" class="btn btn-danger" />
    </div>
    }
</div>
