@model crud.Models.Uczestnik

@{
    <!-- tytul strony -->
    ViewBag.Title = "Usuwanie uczestnika";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Usuwanie uczestnika
</div>

<div class="form-horizontal">
    <hr />
    <div class="col-lg-6 col-md-8 mx-auto jumbotron">
        <div style="font-family: 'Arima Madurai', sans-serif; font-size:130%; margin-top: 5%;">
            <div class="text-center" style="margin-bottom: 15px;">
                <i class="fas fa-user-minus fa-7x"></i>
            </div>
            <p class="text-center" style="font-weight: bold;">Czy na pewno chcesz usunąć tego uczestnika imprezy?</p>
            <p class="text-justify" style="font-size: 75% !important">
                <i class="fas fa-exclamation-circle"></i> Jeżeli tak, kliknij przycisk "Usuń"
            </p>
            <hr />

            <div>
                <dl class="dl-horizontal" style="font-size: 75% !important">
                    <dt style="font-weight: 100;">
                        Imię i nazwisko
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.imieNazwisko, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Mail
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Numer telefonu
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.nrTelefonu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.ActionLink("Wróć", "Uczestnicy_Lista", null, null, new { @class = "btn przyciskPowrot" })
                        <input type="submit" value="Usuń" class="btn btn-danger" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>
