@model crud.Models.Zgloszenia

@{
    <!-- tytul strony -->
    ViewBag.Title = "Usuwanie zgłoszenia";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Arima+Madurai&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    Usunięcie zgłoszenia
</div>

<div class="form-horizontal">
    <hr />
    <div class="col-lg-6 col-md-8 mx-auto jumbotron">
        <div style="font-family: 'Arima Madurai', sans-serif; font-size:130%; margin-top: 5%;">
            <div class="text-center" style="margin-bottom: 15px;">
                <i class="fas fa-trash-alt fa-7x"></i>
            </div>
            <p class="text-center" style="font-weight: bold;">Jesteś pewien, że chcesz odrzucić to zgłoszenie?</p>
            <p class="text-justify" style="font-size: 75% !important">
                <i class="fas fa-exclamation-circle"></i> Jeżeli tak, kliknij przycisk "Usuń"
            </p>
            <hr />

            <div>
                <dl class="dl-horizontal col-md-12" style="font-size: 75% !important">
                    <dt style="font-weight: 100;">
                        Imię i nazwisko
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.imie_nazwisko, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Firma
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.firma, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Numer telefonu
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.nr_telefonu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Mail
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Aktualne miejsce zamieszkania
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.m_zamieszkania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Nazwa imprezy masowej
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.nazwa_imprezy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Rodzaj/treść
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.rodzaj_tresc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Proponowane miejsce realizacji
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.miejsce_realizacji, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Czas trwania
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.czas_trwania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Cykliczność
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.cyklicznosc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Charakter uczestnictwa
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.charakter_uczestnictwa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Forma organizacyjna
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.forma_organizacyjna, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Cele
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.cele, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Proponowany termin odbycia imprezy
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.termin_odbycia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Ceny biletów
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.ceny_bilet, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Dodatkowe usługi
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.dod_uslugi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Stan zgłoszenia
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.stanZgloszenia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Data otrzymania zgłoszenia
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.dataOtrzymaniaZgloszenia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.ActionLink("Wróć", "Zgloszenia_Przelozony", null, null, new { @class = "btn przyciskPowrot" })
                        <input type="submit" value="Usuń" class="btn btn-danger" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>


