@model crud.Models.Zgloszenia

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Usunięcie zgłoszenia
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal col-md-12">
        <dt>
            Imię i nazwisko
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.imie_nazwisko)
        </dd>

        <dt>
            Nazwa firmy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firma)
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nr_telefonu)
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            Miejsce zamieszkania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_zamieszkania)
        </dd>

        <dt>
            Nazwa imprezy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa_imprezy)
        </dd>

        <dt>
            Rodzaj/treść
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rodzaj_tresc)
        </dd>

        <dt>
            Miejsce realizacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miejsce_realizacji)
        </dd>

        <dt>
            Czas trwania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czas_trwania)
        </dd>

        <dt>
            Cykliczność
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cyklicznosc)
        </dd>

        <dt>
            Charakter uczestnictwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charakter_uczestnictwa)
        </dd>

        <dt>
            Forma organizacyjna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forma_organizacyjna)
        </dd>

        <dt>
            Cele imprezy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cele)
        </dd>

        <dt>
            Termin odbycia się imprezy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.termin_odbycia)
        </dd>

        <dt>
            Cena biletu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ceny_bilet)
        </dd>

        <dt>
            Dodatkowe usługi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dod_uslugi)
        </dd>

        <dt>
            Stan zgłoszenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stanZgloszenia)
        </dd>

        <dt>
            Data otrzymania zgłoszenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataOtrzymaniaZgloszenia)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-lg btn-success" /> |
            <input type="button" value="Powrót" class="btn btn-primary btn-lg" onclick="window.location='@Url.Action("Zgloszenia_Przelozony", "Home")'" />
        </div>
    }
</div>
