@model crud.Models.Zgloszenia

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły projektu";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Szczegóły projektu 
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię i nazwisko
        </dt>

        <dd>
            @Html.EditorFor(model => model.imie_nazwisko, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Firma
        </dt>

        <dd>
           @Html.EditorFor(model => model.firma, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @Html.EditorFor(model => model.nr_telefonu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Mail
        </dt>

        <dd>
            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Miejsce zamieszkania
        </dt>

        <dd>
           @Html.EditorFor(model => model.m_zamieszkania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Nazwa imprezy masowej
        </dt>

        <dd>
            @Html.EditorFor(model => model.nazwa_imprezy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Rodzaj/treść
        </dt>

        <dd>
            @Html.EditorFor(model => model.rodzaj_tresc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Proponowane miejsce realizacji
        </dt>

        <dd>
            @Html.EditorFor(model => model.miejsce_realizacji, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Czas trwania
        </dt>

        <dd>
            @Html.EditorFor(model => model.czas_trwania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Cykliczność
        </dt>

        <dd>
            @Html.EditorFor(model => model.cyklicznosc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Charakter uczestnictwa
        </dt>

        <dd>
           @Html.EditorFor(model => model.charakter_uczestnictwa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Forma organizacyjna
        </dt>

        <dd>
           @Html.EditorFor(model => model.forma_organizacyjna, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Cele
        </dt>

        <dd>
           @Html.EditorFor(model => model.cele, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Proponowany termin odbycia imprezy
        </dt>

        <dd>
            @Html.EditorFor(model => model.termin_odbycia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Ceny biletów
        </dt>

        <dd>
            @Html.EditorFor(model => model.ceny_bilet, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Dodatkowe usługi
        </dt>

        <dd>
            @Html.EditorFor(model => model.dod_uslugi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Stan zgłoszenia
        </dt>

        <dd>
            @Html.EditorFor(model => model.stanZgloszenia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Data otrzymania zgłoszenia
        </dt>

        <dd>
            @Html.EditorFor(model => model.dataOtrzymaniaZgloszenia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wróć", "Zgloszenia_Przelozony", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
    @Html.ActionLink("Edytuj", "Edit_Przelozony", null, new { id = Model.idOferty }, new { @class = "btn btn-info" })
</p>
