@model crud.Models.Personel

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły - personel";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Arima+Madurai&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Pracownik", "Home")">Pracownicy</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Personel", "Home")">Personel</a></li>
        <li class="breadcrumb-item active">Szczegóły wpisu</li>
    </ol>
</div>

<div class="form-horizontal">
    <hr />
    <div class="col-lg-6 col-md-8 mx-auto jumbotron">
        <div style="font-family: 'Arima Madurai', sans-serif; font-size:130%; margin-top: 5%;">
            <div class="text-center" style="margin-bottom: 15px;">
                <i class="fas fa-info-circle fa-7x"></i>
            </div>
            <p class="text-center" style="font-weight: bold;">Szczegóły</p>
            <p class="text-justify" style="font-size: 75% !important">
                <i class="fas fa-exclamation-circle"></i> Szczegóły wpisu, by edytować kliknij przycisk "Edytuj"
            </p>
            <hr />

            <div>
                <dl class="dl-horizontal" style="font-size: 75% !important">
                    <dt style="font-weight: 100">
                        Nazwa personelu
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.nazwaPersonelu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100">
                        Czy ustalony?
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.czyUstalony, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Wróć", "Personel", null, null, new { @class = "btn przyciskPowrot" })
                @Html.ActionLink("Edytuj", "EditPersonel", null, new { id = Model.idPersonelu }, new { @class = "btn przyciskSterowania3" })
            </p>

        </div>
    </div>
</div>



