@model crud.Models.Zgloszenia

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły projektu";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Przelozony", "Home")">Przełożony</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Zgloszenia_Przelozony", "Home")">Zgłoszenia</a></li>
        <li class="breadcrumb-item active">Szczegóły projektu @Html.DisplayFor(model => model.idOferty)</li>
    </ol>
</div>

<!-- trzeba dać w kontener żeby nie przylegały do krawędzi ekranu -->
<div class="container">
    <!-- trzeba dać card-columns żeby były odstępy od siebie kart i div z klasą row aby było responsywne -->
    <div class="row">
        <!-- mx-auto centruje karty jak zmniejszysz ekran do sytuacji że będzie 1 karta w wierszu -->
        <div class="mx-auto col-md-6">
            <div class="card text-white" style="background-color: #2b6198;">
                <div class="card-body">
                    <h5 class="card-title text-center"><i class="fas fa-info-circle fa-7x"></i></h5>
                    <p class="card-text">
                        <div class="form-horizontal">

                            <!-- reminder: Ten font-size manipuluje rozmiarem czcionek wszystkiego wewnątrz ! -->
                            <div style="font-family: 'Arima Madurai', sans-serif; font-size:90%;">
                                <div>
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Imię i nazwisko
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.imie_nazwisko, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Firma
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.firma, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Numer telefonu
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.nr_telefonu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Mail
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Miejsce zamieszkania
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.m_zamieszkania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Nazwa imprezy masowej
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.nazwa_imprezy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Rodzaj/treść
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.rodzaj_tresc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Proponowane miejsce realizacji
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.miejsce_realizacji, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Czas trwania
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.czas_trwania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Cykliczność
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.cyklicznosc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Charakter uczestnictwa
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.charakter_uczestnictwa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Forma organizacyjna
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.forma_organizacyjna, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Cele
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.cele, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Proponowany termin odbycia imprezy
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.termin_odbycia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Ceny biletów
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.ceny_bilet, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Dodatkowe usługi
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.dod_uslugi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Stan zgłoszenia
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.stanZgloszenia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>

                                        <dt>
                                            Data otrzymania zgłoszenia
                                        </dt>

                                        <dd>
                                            @Html.EditorFor(model => model.dataOtrzymaniaZgloszenia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                        </dd>
                                    </dl>

                                    <div class="d-flex justify-content-center">
                                        @Html.ActionLink(" ", "Zgloszenia_Przelozony", null, null, new { @class = "btn btn-dark fas fa-angle-double-left fa-2x col-md-5", @data_toggle = "tooltip", @data_placement = "bottom", title = "Wróć" })
                                        @Html.ActionLink(" ", "Edit_Przelozony", null, new { id = Model.idOferty }, new { @class = "btn btn-warning fas fa-edit fa-2x col-md-5", @data_toggle = "tooltip", @data_placement = "bottom", title = "Edytuj wpis" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>