@model crud.Models.Zgloszenia

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły projektu";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Szczegóły projektu
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię i nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie_nazwisko)
        </dd>

        <dt>
            Firma
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firma)
        </dd>

        <dt>
            Numer telefonu        
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nr_telefonu)
        </dd>

        <dt>
            Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            Miejsce zamieszkania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_zamieszkania)
        </dd>

        <dt>
            Nazwa imprezy masowej
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa_imprezy)
        </dd>

        <dt>
            Rodzaj/treść
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rodzaj_tresc)
        </dd>

        <dt>
            Proponowane miejsce realizacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miejsce_realizacji)
        </dd>

        <dt>
            Czas trwania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czas_trwania)
        </dd>

        <dt>
            Cykliczność
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cyklicznosc)
        </dd>

        <dt>
            Charakter uczestnictwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charakter_uczestnictwa)
        </dd>

        <dt>
            Forma organizacyjna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forma_organizacyjna)
        </dd>

        <dt>
            Cele
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cele)
        </dd>

        <dt>
            Proponowany termin odbycia imprezy 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.termin_odbycia)
        </dd>

        <dt>
            Ceny biletów
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ceny_bilet)
        </dd>

        <dt>
            Dodatkowe usługi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dod_uslugi)
        </dd>

        <dt>
            Stan zgłoszenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stanZgloszenia)
        </dd>

        <dt>
            Data otrzymania zgłoszenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataOtrzymaniaZgloszenia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wróć", "Pracownik", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
</p>
