@model IEnumerable<crud.Models.Dokumentacja>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Dokumentacja - projekt";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <!-- czcionka do naglowkow tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Marmelad&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- czcionka do zawartosci tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Pracownik", "Home")">Pracownicy</a></li>
        <li class="breadcrumb-item active">Dokumentacja</li>
    </ol>
</div>

<p>
    <button type="button" class="btn btn-lg przyciskNawigacyjnyMINI" onclick="window.location='@Url.Action("CreateDokumentacja", "Home")'"><span><i class="far fa-plus-square"></i> Utwórz nowy wpis</span></button>
</p>

<table class="table text-center">
    <tr style="font-family: 'Marmelad', sans-serif;">
        <th>
            Nazwa dokumentu
        </th>
        <th class="text-center">
            Czy ukończony?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="parzysty nieparzysty" style="font-family: 'Maven Pro', sans-serif;">
            <td>
                @Html.DisplayFor(modelItem => item.nazwaDokumentu)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.czyUkonczony)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditDokumentacja", null, new { id = item.idDokumentu }, new { @class = "btn przyciskSterowania3" })
                @Html.ActionLink("Szczegóły", "DetailsDokumentacja", null, new { id = item.idDokumentu }, new { @class = "btn przyciskSterowania2" })
                @Html.ActionLink("Usuń", "DeleteDokumentacja", null, new { id = item.idDokumentu }, new { @class = "btn przyciskSterowania4" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Wróć", "Pracownik", null, null, new { @class = "btn przyciskPowrot" })