@model IEnumerable<crud.Models.Dokumentacja>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Dokumentacja
</div>

<p>
    @Html.ActionLink("Stwórz nową", "CreateDokumentacja", null, null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Nazwa dokumentu
        </th>
        <th>
            Czy ukończony?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwaDokumentu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.czyUkonczony)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditDokumentacja", null, new { id = item.idDokumentu }, new { @class = "btn btn-success" })
                @Html.ActionLink("Szczegóły", "DetailsDokumentacja", null, new { id = item.idDokumentu }, new { @class = "btn btn-info" })
                @Html.ActionLink("Usuń", "DeleteDokumentacja", null, new { id = item.idDokumentu }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Wróć", "Pracownik", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })