@model crud.Models.Uczestnik

@{
    <!-- tytul strony -->
    ViewBag.Title = "Edycja uczestnika";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Edycja danych uczestnika
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="col-lg-6 col-md-8 mx-auto jumbotron">
            <div style="font-family: 'Arima Madurai', sans-serif; font-size:130%; margin-top: 5%;">
                <div class="text-center" style="margin-bottom: 15px;">
                    <i class="fas fa-user-edit fa-7x"></i>
                </div>
                <p class="text-center" style="font-weight: bold;">Edytuj uczestnika</p>
                <p class="text-justify" style="font-size: 75% !important">
                    <i class="fas fa-exclamation-circle"></i> Zmień wartość w polu, a następnie kliknij przycisk "Zapisz"
                </p>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.idUczestnika)

                <div class="form-group" style="font-size: 75% !important">
                    @Html.Label("Imię i nazwisko", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.imieNazwisko, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.imieNazwisko, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="font-size: 75% !important">
                    @Html.Label("Mail", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="font-size: 75% !important">
                    @Html.Label("Numer telefonu", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nrTelefonu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nrTelefonu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zapisz" class="btn btn-success" />
                        @Html.ActionLink("Wróć", "Uczestnicy_Lista", null, null, new { @class = "btn przyciskPowrot" })
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
