@model crud.Models.Zgloszenia

@{
    <!-- tytul strony (w zakładce) -->
    ViewBag.Title = "Edycja zgłoszenia";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <!-- tu mozesz zalaczyc swoja biblioteke css ale pamietaj zeby plik zrodlowy
         znajdowal sie w katalogu ~/Content/ tak jak wyżej! -->
</head>

<div class="naglowekStrony">
    Edycja zgłoszenia
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Zgloszenia</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idOferty)
    <div class="form-group">
        @Html.Label("Imię i nazwisko", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div>
                @Html.EditorFor(model => model.imie_nazwisko, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.imie_nazwisko, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Firma", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.firma, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.firma, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Numer telefonu", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nr_telefonu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nr_telefonu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Mail", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Miejsce zamieszkania", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.m_zamieszkania, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.m_zamieszkania, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Nazwa imprezy masowej", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nazwa_imprezy, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nazwa_imprezy, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Rodzaj/treść", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.rodzaj_tresc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.rodzaj_tresc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Proponowane miejsce realizacji", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.miejsce_realizacji, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.miejsce_realizacji, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Czas trwania", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.czas_trwania, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.czas_trwania, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Cykliczność", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cyklicznosc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cyklicznosc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Charakter uczestnictwa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.charakter_uczestnictwa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.charakter_uczestnictwa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Forma organizacyjna", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.forma_organizacyjna, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.forma_organizacyjna, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Cele", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cele, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cele, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Proponowany termin odbycia imprezy", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.termin_odbycia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.termin_odbycia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Ceny biletów", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ceny_bilet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ceny_bilet, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Dodatkowe usługi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dod_uslugi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dod_uslugi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Stan zgłoszenia", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.stanZgloszenia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stanZgloszenia, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--
           Uwaga, ponizszy div odpowiada za wygenerowanie daty otrzymania zgloszenia -
           prosze go nie zmieniac! Ma byc niewidoczny i niezmieniony.
    -->
    <div class="form-group" style="display: none;">
        @Html.LabelFor(model => model.dataOtrzymaniaZgloszenia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dataOtrzymaniaZgloszenia, new { htmlAttributes = new { @class = "form-control", @value = DateTime.Now } })
            @Html.ValidationMessageFor(model => model.dataOtrzymaniaZgloszenia, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>           <!-- Back to List to nazwa przycisku, Zgloszenia_Przelozony to nazwa pliku na ktory ma przekierowywac-->
    @Html.ActionLink("Wróć", "Zgloszenia_Przelozony", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
