@model crud.Models.Imprezy

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Usuwanie imprezy
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa imprezy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwaImprezy)
        </dd>

        <dt>
            Rodzaj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rodzaj)
        </dd>

        <dt>
            Miejsce
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miejsce)
        </dd>

        <dt>
            Czas trwania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czasTrwania)
        </dd>

        <dt>
            Cykliczność
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cyklicznosc)
        </dd>

        <dt>
            Charakter uczestnictwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charakterUczestnictwa)
        </dd>

        <dt>
            Forma organizacyjna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formaOrganizacyjna)
        </dd>

        <dt>
            Cena biletu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cenaBiletu)
        </dd>

        <dt>
            Liczba uczestników
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczbaUczestnikow)
        </dd>

        <dt>
            Identyfikator porównania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identyfikatorPorownania)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success btn-lg" /> |
            <input type="button" value="Powrót" class="btn btn-primary btn-lg" onclick="window.location='@Url.Action("Przelozony_Listaimprez", "Home")'" />
        </div>
    }
</div>
