@model crud.Models.Imprezy

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Usuwanie imprezy
</div>

<h3>Jesteś pewien czy chcesz usunąć tę imprezę?</h3>
<div>
    <h4>Imprezy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa imprezy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwaImprezy)
        </dd>

        <dt>
            Rodzaj/treść
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rodzaj)
        </dd>

        <dt>
            Proponowane miejsce realizacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miejsce)
        </dd>

        <dt>
            Czas trwania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.czasTrwania)
        </dd>

        <dt>
            Cykliczność
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cyklicznosc)
        </dd>

        <dt>
            Charakter uczestnictwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charakterUczestnictwa)
        </dd>

        <dt>
            Forma organizacyjna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formaOrganizacyjna)
        </dd>

        <dt>
            Ceny biletów
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cenaBiletu)
        </dd>

        <dt>
            Liczba uczestników
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liczbaUczestnikow)
        </dd>

        <dt>
            Identyfikator porównania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identyfikatorPorownania)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Wróć", "Przelozony_Listaimprez", null, null, new { @class = "btn btn-primary btn-md przyciskPowrot" })
            <input type="submit" value="Usuń" class="btn btn-danger" />
        </div>
    }
</div>
