@model IEnumerable<crud.Models.Imprezy>

@{
    <!-- tytul strony (chodzi o zakladke) -->
    ViewBag.Title = "Wpis o dokumencie";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Dostępne imprezy
</div>

<table class="table">
    <tr class="text-center">
        <th>
            Nazwa imprezy
        </th>
        <th>
            Miejsce
        </th>
        <th>
            Czas trwania
        </th>
        <th>
            Charakter uczestnictwa
        </th>
        <th>
            Ceny biletów
        </th>
        <th>
            Liczba uczestników
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="parzysty nieparzysty text-center">
            <td>
                @Html.DisplayFor(modelItem => item.nazwaImprezy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miejsce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.czasTrwania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.charakterUczestnictwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cenaBiletu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.liczbaUczestnikow)
            </td>
            <td>
                @Html.ActionLink("Zapisz mnie!", "Uczestnik_imprezy_Create", new { id = item.idImpreza }, new { @class = "btn btn-success" })
                @Html.ActionLink("Szczegóły imprezy", "Imprezy_Details", new { id = item.idImpreza }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>
<input type="button" value="Powrót" class="btn btn-primary btn-lg" onclick="window.location='@Url.Action("Klienci", "Home")'" />