@model crud.Models.Imprezy

@{
    <!-- tytul strony (chodzi o zakladke) -->
    ViewBag.Title = "Edycja imprezy";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Przelozony", "Home")">Przełożony</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Przelozony_Listaimprez", "Home")">Lista imprez</a></li>
        <li class="breadcrumb-item active">Impreza @Html.DisplayFor(model => model.idImpreza)</li>
    </ol>
</div>

<!-- trzeba dać w kontener żeby nie przylegały do krawędzi ekranu -->
<div class="container">
    <!-- trzeba dać card-columns żeby były odstępy od siebie kart i div z klasą row aby było responsywne -->
    <div class="row">
        <!-- mx-auto centruje karty jak zmniejszysz ekran do sytuacji że będzie 1 karta w wierszu -->
        <div class="mx-auto col-md-6">
            <div class="card text-white" style="background-color: #2b6198;">
                <div class="card-body">
                    <h5 class="card-title text-center"><i class="fas fa-clipboard-check fa-7x"></i></h5>
                    <p class="card-text">
                        <div style="font-family: 'Arima Madurai', sans-serif; font-size:90%;">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.idImpreza)

                                    <div class="form-group">
                                        @Html.Label("Nazwa imprezy", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.nazwaImprezy, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.nazwaImprezy, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Rodzaj/treść", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.rodzaj, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.rodzaj, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Proponowane miejsce realizacji", htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.miejsce, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.miejsce, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Czas trwania", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.czasTrwania, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.czasTrwania, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Cykliczność", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.cyklicznosc, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.cyklicznosc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Charakter uczestnictwa", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.charakterUczestnictwa, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.charakterUczestnictwa, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Forma organizacyjna", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.formaOrganizacyjna, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.formaOrganizacyjna, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Cena biletów", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.cenaBiletu, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.cenaBiletu, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Liczba uczestników", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.liczbaUczestnikow, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.liczbaUczestnikow, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Identyfikator porównania", htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.identyfikatorPorownania, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.identyfikatorPorownania, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12 d-flex justify-content-center">
                                            <button type="submit" style="width: 60%; float: left; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;"><i data-toggle="tooltip" data-placement="bottom" title="Wprowadź zmiany" class="btn btn-success col-md-12 fas fa-check-square fa-2x"></i></button>
                                            @Html.ActionLink(" ", "Przelozony_Listaimprez", null, null, new { @class = "btn btn-dark fas fa-angle-double-left fa-2x col-md-4", @data_toggle = "tooltip", @data_placement = "bottom", title = "Wróć", @style="float: left;" })
                                        </div>
                                    </div>
                                </div>
                             }
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
