@model IEnumerable<crud.Models.Imprezy>

@{
    <!-- tytul strony (chodzi o zakladke) -->
    ViewBag.Title = "Dostępne imprezy";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <!-- czcionka do naglowkow tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Marmelad&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- czcionka do zawartosci tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    Dostępne imprezy
</div>

<table class="table">
    <tr class="text-center" style="font-family: 'Marmelad', sans-serif;">
        <th>
            Numer imprezy
        </th>
        <th>
            Nazwa imprezy
        </th>
        <th>
            Miejsce
        </th>
        <th>
            Czas trwania
        </th>
        <th>
            Charakter uczestnictwa
        </th>
        <th>
            Ceny biletów
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr class="parzysty nieparzysty text-center" style="font-family: 'Maven Pro', sans-serif;">
        <td>
            @Html.DisplayFor(modelItem => item.idImpreza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwaImprezy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.miejsce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.czasTrwania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.charakterUczestnictwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cenaBiletu)
        </td>
        <td>
            @Html.ActionLink("Zapisz mnie!", "Uczestnik_imprezy_Create", new { id = item.idImpreza }, new { @class = "btn zapiszMnie" })
            @Html.ActionLink("Szczegóły imprezy", "Imprezy_Details", new { id = item.idImpreza }, new { @class = "btn szczegolyImprezy" })
        </td>
    </tr>
    }

</table>
<input type="button" value="Wróć" class="btn przyciskPowrot" onclick="window.location='@Url.Action("Klienci", "Home")'" />