@{
    <!-- tytul strony -->
    ViewBag.Title = "Strona główna";
}

<head>
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<body class="col-md-12" style="margin-left: 0; margin-right:0; padding-left: 0; padding-right: 0;">
    <div class="container-fluid">
        <div class="row">

            <div class="text-center" style="margin-top: 65px;">
                @{
                    <!-- jezeli zalogowany jako pracownik lub administrator -->
                    if ((User.Identity.IsAuthenticated && User.IsInRole("Pracownik")) || (User.Identity.IsAuthenticated && User.IsInRole("Administrator")))
                    {
                        <button type="button" class="btn btn-lg przyciskNawigacyjny" style="background-color: #093BB9;" onclick="window.location='@Url.Action("Pracownik", "Home")'"><span><i class="fas fa-briefcase fa-5x"></i><br />Pracownicy</span></button>
                    }
                    else
                    {
                        <button type="button" disabled class="btn btn-lg przyciskNawigacyjny" style="background-color: #093BB9;" onclick="window.location='@Url.Action("Pracownik", "Home")'"><span><i class="fas fa-briefcase fa-5x"></i><br />Pracownicy<p style="font-size: 13px;">(Wymagana autoryzacja!)</p></span></button>
                    }
                }

                @{
                    <!-- jezeli zalogowany jako administrator -->
                    if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <button type="button" class="btn btn-lg przyciskNawigacyjny" style="background-color: #1441D4;" onclick="window.location='@Url.Action("Przelozony", "Home")'"><span><i class="fas fa-star-half-alt fa-5x"></i><br />Przełożony</span></button>
                    }
                    else
                    {
                        <button type="button" disabled class="btn btn-lg przyciskNawigacyjny" style="background-color: #1441D4;" onclick="window.location='@Url.Action("Przelozony", "Home")'"><span><i class="fas fa-star-half-alt fa-5x"></i><br />Przełożony<p style="font-size: 13px;">(Wymagana autoryzacja!)</p></span></button>
                    }
                }

                <button type="button" class="btn btn-lg przyciskNawigacyjny" style="background-color: #2546CC;" onclick="window.location='@Url.Action("Klienci", "Home")'"><span><i class="fas fa-mug-hot fa-5x"></i><br />Klienci</span></button>
            </div>
        </div>
    </div>

</body>


