@model IEnumerable<crud.Models.Personel>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Personel
</div>

<p>
    @Html.ActionLink("Utwórz nowy", "CreatePersonel", null, null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Nazwa personelu
        </th>
        <th>
            Czy ustalony?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwaPersonelu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.czyUstalony)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditPersonel", new { id = item.idPersonelu }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Szczegóły", "DetailsPersonel", new { id = item.idPersonelu }, new { @class = "btn btn-info" })
                @Html.ActionLink("Usuń", "DeletePersonel", new { id = item.idPersonelu }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Wróć", "Pracownik", null, null, new { @class = "btn btn-primary" })