@model IEnumerable<crud.Models.Pozwolenie>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Pozwolenia - projekt";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <!-- czcionka do naglowkow tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Marmelad&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- czcionka do zawartosci tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Pracownik", "Home")">Pracownicy</a></li>
        <li class="breadcrumb-item active">Pozwolenia</li>
    </ol>
</div>

<p class="text-center">
    <button type="button" data-toggle="tooltip" data-placement="left" title="Utwórz nowy wpis" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;" onclick="window.location='@Url.Action("CreatePozwolenie", "Home")'"><i class="btn btn-primary fas fa-plus-square fa-5x"></i></button>
</p>

<!-- trzeba dać w kontener żeby nie przylegały do krawędzi ekranu -->
<div class="container">
    <!-- trzeba dać card-columns żeby były odstępy od siebie kart i div z klasą row aby było responsywne -->
    <div class="row">
        <!-- mx-auto centruje karty jak zmniejszysz ekran do sytuacji że będzie 1 karta w wierszu -->
        <div class="card-columns text-center mx-auto">
            @foreach (var item in Model)
            {
                <div class="card text-white" style="background-color: #2b6198;">
                    <div class="card-header" style="font-size: 18px;">Identyfikator wpisu: <strong>@Html.DisplayFor(modelItem => item.idPozwolenia)</strong></div>
                    <div class="card-body">
                        <p class="card-text">
                            <table style="margin-left: auto; margin-right: auto;">
                                <tr data-toggle="tooltip" data-placement="left" title="Nazwa wpisu">
                                    <td><i class="fas fa-comment fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.nazwa)</td>
                                </tr>
                                <tr data-toggle="tooltip" data-placement="left" title="Status wpisu">
                                    <td><i class="fab fa-dev fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.czyZdobyte)</td>
                                </tr>
                            </table>

                            <div style="margin-top: 20px;">
                                @Html.ActionLink(" ", "EditPozwolenie", null, new { id = item.idPozwolenia }, new { @class = "btn btn-warning fas fa-edit fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Edytuj wpis" })
                                @Html.ActionLink(" ", "DetailsPozwolenia", null, new { id = item.idPozwolenia }, new { @class = "btn btn-primary fas fa-info-circle fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Szczegóły wpisu" })
                                @Html.ActionLink(" ", "DeletePozwolenie", null, new { id = item.idPozwolenia }, new { @class = "btn btn-danger fas fa-times-circle fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Usuń wpis" })
                            </div>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
