@model IEnumerable<crud.Models.Pozwolenie>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Pozwolenia - projekt";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <!-- czcionka do naglowkow tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Marmelad&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- czcionka do zawartosci tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    Pozwolenia
</div>

<p>
    <button type="button" class="btn btn-lg przyciskNawigacyjnyMINI" onclick="window.location='@Url.Action("CreatePozwolenie", "Home")'"><span><i class="far fa-plus-square"></i> Utwórz nowy wpis</span></button>
</p>

<table class="table text-center" >
    <tr style="font-family: 'Marmelad', sans-serif;">
        <th>
            Nazwa
        </th>
        <th >
            Czy zdobyte?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="parzysty nieparzysty text-center" style="font-family: 'Maven Pro', sans-serif;">
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.czyZdobyte)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditPozwolenie", new { id = item.idPozwolenia }, new { @class = "btn przyciskSterowania3" })
                @Html.ActionLink("Szczegóły", "DetailsPozwolenia", new { id = item.idPozwolenia }, new { @class = "btn przyciskSterowania2" })
                @Html.ActionLink("Usuń", "DeletePozwolenie", new { id = item.idPozwolenia }, new { @class = "btn przyciskSterowania4" })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Wróć", "Pracownik", null, null, new { @class = "btn przyciskPowrot" })
