@model IEnumerable<crud.Models.Pozwolenie>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Pozwolenia
</div>

<p>
    @Html.ActionLink("Utwórz nowy wpis", "CreatePozwolenie", null, null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th class="text-center">
            Czy zdobyte?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="parzysty nieparzysty">
            <td class="text-justify">
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.czyZdobyte)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditPozwolenie", new { id = item.idPozwolenia }, new { @class = "btn btn-primary przyciskWiekszy" })
                @Html.ActionLink("Szczegóły", "DetailsPozwolenia", new { id = item.idPozwolenia }, new { @class = "btn btn-info przyciskWiekszy" })
                @Html.ActionLink("Usuń", "DeletePozwolenie", new { id = item.idPozwolenia }, new { @class = "btn btn-danger przyciskMniejszy" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Wróć", "Pracownik", null, null, new { @class = "btn btn-primary przyciskPowrot" })