@model IEnumerable<crud.Models.Zgloszenia>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Panel pracownika";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <!-- czcionka do naglowkow tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Marmelad&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- czcionka do zawartosci tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item active">Pracownicy</li>
    </ol>
</div>

<!-- trzeba dać w kontener żeby nie przylegały do krawędzi ekranu -->
<div class="container">
    <!-- trzeba dać card-columns żeby były odstępy od siebie kart i div z klasą row aby było responsywne -->
    <div class="row">
        <!-- mx-auto centruje karty jak zmniejszysz ekran do sytuacji że będzie 1 karta w wierszu -->
        <div class="card-columns text-center mx-auto">
            @foreach (var item in Model)
            {
                <div class="card text-white" style="background-color: #2b6198;">
                    <div class="card-header" data-toggle="tooltip" data-placement="left" title="Identyfikator projektu" style="font-size: 18px;">ID projektu: <strong>@Html.DisplayFor(modelItem => item.idOferty)</strong></div>
                    <div class="card-body">
                        <h5 class="card-title" data-toggle="tooltip" data-placement="bottom" title="Zleceniodawca">@Html.DisplayFor(modelItem => item.imie_nazwisko)</h5>
                        <p class="card-text">
                            <table style="margin-left: auto; margin-right: auto;">
                                <tr data-toggle="tooltip" data-placement="left" title="Numer telefonu do zleceniodawcy">
                                    <td><i class="fas fa-phone-square fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.nr_telefonu)</td>
                                </tr>
                                <tr data-toggle="tooltip" data-placement="left" title="Adres email do zleceniodawcy">
                                    <td><i class="fas fa-at fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.mail)</td>
                                </tr>
                            </table>

                            <div style="margin-top: 20px;">
                                @Html.ActionLink(" ", "Pozwolenia", null, new { id = item.idOferty }, new { @class = "btn btn-dark fas fa-crow fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Pozwolenia imprezy" })
                                @Html.ActionLink(" ", "Personel", null, new { id = item.idOferty }, new { @class = "btn btn-dark fas fa-cat fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Personel imprezy" })
                                @Html.ActionLink(" ", "Dokumentacja", null, new { id = item.idOferty }, new { @class = "btn btn-dark fas fa-frog fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Dokumentacja imprezy" })
                                @Html.ActionLink(" ", "Details_Pracownik", null, new { id = item.idOferty }, new { @class = "btn btn-primary fas fa-info-circle fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Szczegóły imprezy" })
                            </div>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
