@model IEnumerable<crud.Models.Zgloszenia>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Projekty
</div>

<table class="table">
    <tr>
        <th>
            Identyfikator projektu
        </th>
        <th>
            Imie i nazwisko
        </th>
        <th>
            Numer telefonu
        </th>
        <th>
            Mail
        </th>
        <th>
            Stan zgłoszenia
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idOferty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imie_nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nr_telefonu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stanZgloszenia)
            </td>
            <td>
                @Html.ActionLink("Pozwolenia", "Pozwolenia", new { id = item.idOferty }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Personel", "Personel", new { id = item.idOferty }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Dokumentacja", "Dokumentacja", new { id = item.idOferty }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Szczegóły", "Details_Pracownik", new { id = item.idOferty }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Wróć", "Index", null, null, new { @class = "btn btn-primary" })