@model crud.Models.Imprezy

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły imprezy";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Szczegóły imprezy
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa imprezy
        </dt>

        <dd>
            @Html.EditorFor(model => model.nazwaImprezy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Rodzaj/treść
        </dt>

        <dd>
            @Html.EditorFor(model => model.rodzaj, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Miejsce
        </dt>

        <dd>
            @Html.EditorFor(model => model.miejsce, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Czas trwania
        </dt>

        <dd>
           @Html.EditorFor(model => model.czasTrwania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Cykliczność
        </dt>

        <dd>
            @Html.EditorFor(model => model.cyklicznosc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Charakter uczestnictwa
        </dt>

        <dd>
            @Html.EditorFor(model => model.charakterUczestnictwa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Forma organizacyjna
        </dt>

        <dd>
            @Html.EditorFor(model => model.formaOrganizacyjna, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Cena biletów
        </dt>

        <dd>
            @Html.EditorFor(model => model.cenaBiletu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Liczba uczestników
        </dt>

        <dd>
            @Html.EditorFor(model => model.liczbaUczestnikow, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

        <dt>
            Identyfikator porównania
        </dt>

        <dd>
            @Html.EditorFor(model => model.identyfikatorPorownania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wróć", "Przelozony_Listaimprez", null, null, new { @class = "btn btn-primary przyciskPowrot" })
</p>
