@model IEnumerable<crud.Models.Imprezy>

@{
    /**/
    <!-- tytul strony -->
    /**/

    ViewBag.Title = "Lista imprez";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Przelozony", "Home")">Przełożony</a></li>
        <li class="breadcrumb-item active">Lista imprez</li>
    </ol>
</div>

<!-- trzeba dać w kontener żeby nie przylegały do krawędzi ekranu -->
<div class="container">
    <!-- trzeba dać card-columns żeby były odstępy od siebie kart i div z klasą row aby było responsywne -->
    <div class="row">
        <!-- mx-auto centruje karty jak zmniejszysz ekran do sytuacji że będzie 1 karta w wierszu -->
        <div class="card-columns text-center mx-auto">
            @foreach (var item in Model)
            {
                <div class="card text-white" style="background-color: #2b6198;">
                    <div class="card-header" style="font-size: 18px;">Impreza  <strong>@Html.DisplayFor(modelItem => item.idImpreza)</strong></div>
                    <div class="card-body">
                        <h5 class="card-title" data-toggle="tooltip" data-placement="bottom" title="Nazwa imprezy">@Html.DisplayFor(modelItem => item.nazwaImprezy)</h5>
                        <p class="card-text">
                            <table style="margin-left: auto; margin-right: auto;">
                                <tr data-toggle="tooltip" data-placement="left" title="Rodzaj/treść imprezy">
                                    <td><i class="fas fa-glass-martini fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.rodzaj)</td>
                                </tr>
                                <tr data-toggle="tooltip" data-placement="left" title="Miejsce odbycia się imprezy">
                                    <td><i class="fas fa-map-marker-alt fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.miejsce)</td>
                                </tr>

                                <tr data-toggle="tooltip" data-placement="left" title="Liczba miejsc na imprezie">
                                    <td><i class="fas fa-sort-numeric-up fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.liczbaUczestnikow)</td>
                                </tr>
                            </table>

                        <p style="margin-top: 20px;">
                            @Html.ActionLink(" ", "Imprezy_Edit", null, new { id = item.idImpreza }, new { @class = "btn btn-warning fas fa-edit fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Edytuj dane imprezy" })
                            @Html.ActionLink(" ", "Przelozony_Imprezy_Details", null, new { id = item.idImpreza }, new { @class = "btn btn-primary fas fa-info-circle fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Zobacz szczegóły imprezy" })
                            @Html.ActionLink(" ", "Uczestnicy_Lista", null, new { id = item.idImpreza }, new { @class = "btn btn-success fas fa-users fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Zobacz listę zarejestrowanych uczestników" })
                            @Html.ActionLink(" ", "Imprezy_Delete", null, new { id = item.idImpreza }, new { @class = "btn btn-danger fas fa-times-circle fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Usuń imprezę" })
                        </p>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>