@model IEnumerable<crud.Models.Imprezy>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Lista imprez";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Lista dostępnych imprez
</div>

<table class="table">
    <tr class="text-center">
        <th>
            Nazwa imprezy
        </th>
        <th>
            Rodzaj/treść
        </th>
        <th>
            Miejsce
        </th>
        <th>
            Liczba uczestników
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="parzysty nieparzysty text-center">
            <td>
                @Html.DisplayFor(modelItem => item.nazwaImprezy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rodzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miejsce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.liczbaUczestnikow)
            </td>
            <td>
                @Html.ActionLink("Edytuj szczegóły", "Imprezy_Edit", new { id = item.idImpreza }, new { @class = "btn btn-primary przyciskListaimprez" }) 
                @Html.ActionLink("Szczegóły imprezy", "Przelozony_Imprezy_Details", new { id = item.idImpreza }, new { @class = "btn btn-info przyciskListaimprez" }) 
                @Html.ActionLink("Lista uczestników", "Uczestnicy_Lista", new { id = item.idImpreza }, new { @class = "btn btn-success przyciskListaimprez" }) 
                @Html.ActionLink("Usuń imprezę", "Imprezy_Delete", new { id = item.idImpreza }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Wróć", "Przelozony", null, null, new { @class = "btn btn-primary przyciskPowrot" })