@model crud.Models.Imprezy

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły imprezy";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Przelozony", "Home")">Przełożony</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Przelozony_Listaimprez", "Home")">Lista imprez</a></li>
        <li class="breadcrumb-item active">Impreza @Html.DisplayFor(model => model.idImpreza)</li>
    </ol>
</div>

<!-- trzeba dać w kontener żeby nie przylegały do krawędzi ekranu -->
<div class="container">
    <!-- trzeba dać card-columns żeby były odstępy od siebie kart i div z klasą row aby było responsywne -->
    <div class="row">
        <!-- mx-auto centruje karty jak zmniejszysz ekran do sytuacji że będzie 1 karta w wierszu -->
        <div class="mx-auto col-md-6">
            <div class="card text-white" style="background-color: #2b6198;">
                <div class="card-body">
                    <h5 class="card-title text-center"><i class="fas fa-info-circle fa-7x"></i></h5>
                    <p class="card-text">
                        <div style="font-family: 'Arima Madurai', sans-serif; font-size:90%;">
                            <div>
                                <dl class="dl-horizontal">
                                    <dt style="font-weight: 100;">
                                        Nazwa imprezy
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.nazwaImprezy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>

                                    <dt style="font-weight: 100;">
                                        Rodzaj/treść
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.rodzaj, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>

                                    <dt style="font-weight: 100;">
                                        Miejsce
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.miejsce, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>

                                    <dt style="font-weight: 100;">
                                        Czas trwania
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.czasTrwania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>

                                    <dt style="font-weight: 100;">
                                        Cykliczność
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.cyklicznosc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>

                                    <dt style="font-weight: 100;">
                                        Charakter uczestnictwa
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.charakterUczestnictwa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>

                                    <dt style="font-weight: 100;">
                                        Forma organizacyjna
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.formaOrganizacyjna, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>

                                    <dt style="font-weight: 100;">
                                        Cena biletów
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.cenaBiletu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>

                                    <dt style="font-weight: 100;">
                                        Liczba uczestników
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.liczbaUczestnikow, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>

                                    <dt style="font-weight: 100;">
                                        Identyfikator porównania
                                    </dt>
                                    <dd>
                                        @Html.EditorFor(model => model.identyfikatorPorownania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                                    </dd>
                                </dl>

                                @Html.ActionLink(" ", "Przelozony_Listaimprez", null, null, new { @class = "btn btn-dark fas fa-angle-double-left fa-2x col-md-12", @data_toggle = "tooltip", @data_placement = "bottom", title = "Wróć" })
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



