@model IEnumerable<crud.Models.Imprezy>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Lista dostępnych imprez
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwaImprezy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rodzaj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.miejsce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liczbaUczestnikow)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwaImprezy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rodzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miejsce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.liczbaUczestnikow)
            </td>
            <td>
                @Html.ActionLink("Edytuj szczegóły", "Imprezy_Edit", new { id = item.idImpreza }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Szczegóły imprezy", "Przelozony_Imprezy_Details", new { id = item.idImpreza }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Lista uczestników", "Uczestnicy_Lista", new { id = item.idImpreza }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Usuń impreze", "Imprezy_Delete", new { id = item.idImpreza }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
