@model crud.Models.Imprezy

@{
    <!-- tytul strony -->
    ViewBag.Title = "Szczegóły imprezy";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Przelozony", "Home")">Przełożony</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Przelozony_Listaimprez", "Home")">Lista imprez</a></li>
        <li class="breadcrumb-item active">Impreza @Html.DisplayFor(model => model.idImpreza)</li>
    </ol>
</div>

<div class="form-horizontal">
    <hr />
    <div class="col-lg-6 col-md-8 mx-auto jumbotron">
        <div style="font-family: 'Arima Madurai', sans-serif; font-size:130%; margin-top: 5%;">
            <div class="text-center" style="margin-bottom: 15px;">
                <i class="fas fa-info-circle fa-7x"></i>
            </div>
            <p class="text-center" style="font-weight: bold;">Szczegóły</p>
            <p class="text-justify" style="font-size: 75% !important">
                <i class="fas fa-exclamation-circle"></i> Szczegóły wpisu, by edytować kliknij przycisk "Edytuj" 
            </p>
            <hr />
            <div>
                <dl class="dl-horizontal" style="font-size: 75%; !important;">
                    <dt style="font-weight: 100;">
                        Nazwa imprezy
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.nazwaImprezy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Rodzaj/treść
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.rodzaj, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Miejsce
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.miejsce, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Czas trwania
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.czasTrwania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Cykliczność
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.cyklicznosc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Charakter uczestnictwa
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.charakterUczestnictwa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Forma organizacyjna
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.formaOrganizacyjna, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Cena biletów
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.cenaBiletu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Liczba uczestników
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.liczbaUczestnikow, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                    <dt style="font-weight: 100;">
                        Identyfikator porównania
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.identyfikatorPorownania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "true" } })
                    </dd>

                </dl>
                <p>
                    @Html.ActionLink("Wróć", "Przelozony_Listaimprez", null, null, new { @class = "btn przyciskPowrot" })
                </p>
            </div>
        </div>
    </div>
</div>


