@model crud.Models.Uczestnik

@{
    <!-- tytul strony (chodzi o zakladke) -->
    ViewBag.Title = "Zapisanie na impreze";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Panel uczestnika - zapisywanie
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Imię i nazwisko", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-addon " style="width: 50px; !important;">
                        <i class="fas fa-user text-center"></i>
                    </div>
                    @Html.EditorFor(model => model.imieNazwisko, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                    @Html.ValidationMessageFor(model => model.imieNazwisko, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            @Html.Label("Mail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-addon " style="width: 50px; !important;">
                        <i class="fas fa-envelope text-center"></i>
                    </div>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            @Html.Label("Numer telefonu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-addon " style="width: 50px; !important;">
                        <i class="fas fa-phone-square text-center"></i>
                    </div>
                    @Html.EditorFor(model => model.nrTelefonu, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                    @Html.ValidationMessageFor(model => model.nrTelefonu, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć", "Imprezy_Dostepne", null, null, new { @class = "btn btn-primary przyciskPowrot" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
