@model crud.Models.Wiadomosci

@{
    <!-- tytul strony (chodzi o zakladke) -->
    ViewBag.Title = "Tworzenie wiadomości";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    <ol class="breadcrumb tloOkruszka">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
        <li class="breadcrumb-item active">Panel wiadomości</li>
    </ol>
</div>

<!-- trzeba dać w kontener żeby nie przylegały do krawędzi ekranu -->
<div class="container">
    <!-- trzeba dać card-columns żeby były odstępy od siebie kart i div z klasą row aby było responsywne -->
    <div class="row">
        <!-- mx-auto centruje karty jak zmniejszysz ekran do sytuacji że będzie 1 karta w wierszu -->
        <div class="mx-auto col-md-6">
            <div class="card text-white" style="background-color: #2b6198;">
                <div class="card-body">
                    <h5 class="card-title text-center"><i class="fab fa-connectdevelop fa-7x"></i></h5>
                    <p class="card-text">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken();

                            <div style="font-family: 'Arima Madurai', sans-serif; font-size:90%;">

                                <div>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.Label("Imie i nazwisko", htmlAttributes: new { @class = "control-label col-md-5" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.imieNazwisko, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.imieNazwisko, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Adres email", htmlAttributes: new { @class = "control-label col-md-5" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.adresEmail, new { htmlAttributes = new { @class = "form-control inputField" } })
                                            @Html.ValidationMessageFor(model => model.adresEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!--
                                        Uwaga, ponizszy div odpowiada za wygenerowanie daty otrzymania zgloszenia -
                                        prosze go nie zmieniac! Ma byc niewidoczny i niezmieniony.
                                    -->
                                    <div class="form-group" style="display: none;">
                                        @Html.LabelFor(model => model.dataOdebrania, htmlAttributes: new { @class = "control-label col-md-5" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.dataOdebrania, new { htmlAttributes = new { @class = "form-control", @value = DateTime.Now } })
                                            @Html.ValidationMessageFor(model => model.dataOdebrania, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Tekst wiadomości", htmlAttributes: new { @class = "control-label col-md-5" })
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.tekstWiadomosci, new { @rows = 8, maxlength = "1000", id = "textarea", style= "font-family: 'Comfortaa', sans-serif;", @class="inputField" })
                                            <!-- blok div dla tekstu informującego o liczbie pozostałych znaków -->
                                            <div id="textarea_feedback" style="font-size: 12px;"></div>
                                            @Html.ValidationMessageFor(model => model.tekstWiadomosci, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!-- Skrypt do informowania o liczbe znaków -->
                                    <script>
                                        $(document).ready(function () {
                                            var text_max = 1000;
                                            $('#textarea_feedback').html('Pozostało do wykorzystania ' + text_max + ' znaków');

                                            $('#textarea').keyup(function () {
                                                var text_length = $('#textarea').val().length;
                                                var text_remaining = text_max - text_length;

                                                $('#textarea_feedback').html('Pozostało do wykorzystania ' + text_remaining + ' znaków');
                                            });
                                        });
                                    </script>

                                    <div class="form-group" style="margin-top: 30px;">
                                        <!-- Użycie: 
                                                    d-flex justify-content-center
                                             centruje niniejszy blok div
                                        -->
                                        <div class="col-md-12 d-flex justify-content-center">
                                            <button type="submit" style="width: 60%; float: left; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;"><i data-toggle="tooltip" data-placement="bottom" title="Wyślij wiadomość" class="btn btn-success col-md-12 fas fa-envelope fa-2x"></i></button>
                                            @Html.ActionLink(" ", "Index", null, null, new { @class = "btn btn-dark fas fa-angle-double-left fa-2x col-md-4", @data_toggle = "tooltip", @data_placement = "bottom", title = "Wróć", @style = "float: left;" })
                                        </div>
                                    </div>

                                    @section Scripts {
                                        @Scripts.Render("~/bundles/jqueryval")
                                    }
                                </div>
                            </div>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
