@model IEnumerable<crud.Models.Zgloszenia>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Lista zgłoszeń";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <!-- czcionka do naglowkow tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Marmelad&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- czcionka do zawartosci tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- style dla tabeli umieszczonej w karcie -->
    <style>

        /* ustaw szerokość pola z ikonką i wycentruj */
        tr td i {
            text-align: center;
            width: 25px;
        }
    </style>
</head>

<div class="naglowekStrony">
    Lista zgłoszeń
</div>

<!-- trzeba dać w kontener żeby nie przylegały do krawędzi ekranu -->
<div class="container">
    <!-- trzeba dać card-columns żeby były odstępy od siebie kart i div z klasą row aby było responsywne -->
    <div class="row">
        <!-- mx-auto centruje karty jak zmniejszysz ekran do sytuacji że będzie 1 karta w wierszu -->
        <div class="card-columns text-center mx-auto">
            @foreach (var item in Model)
            {
                <div class="card text-white bg-dark">
                    <div class="card-header" style="font-size: 18px;">Zgłoszenie  <strong>@Html.DisplayFor(modelItem => item.idOferty)</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">od @Html.DisplayFor(modelItem => item.imie_nazwisko)</h5>
                        <p class="card-text">
                            <table style="margin-left: auto; margin-right: auto;">
                                <tr data-toggle="tooltip" data-placement="left" title="Numer telefonu">
                                    <td><i class="fas fa-mobile fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.nr_telefonu)</td>
                                </tr>
                                <tr data-toggle="tooltip" data-placement="left" title="Adres email">
                                    <td><i class="fas fa-envelope fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.mail)</td>
                                </tr>
                                <tr data-toggle="tooltip" data-placement="left" title="Miejsce realizacji">
                                    <td><i class="fas fa-map-marker-alt fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.miejsce_realizacji)</td>
                                </tr>
                                <tr data-toggle="tooltip" data-placement="left" title="Stan zgłoszenia">
                                    <td><i class="fab fa-jira fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.stanZgloszenia)</td>
                                </tr>
                                <tr data-toggle="tooltip" data-placement="left" title="Data otrzymania zgłoszenia">
                                    <td><i class="fas fa-clock fa-lg"></i></td>
                                    <td>@Html.DisplayFor(modelItem => item.dataOtrzymaniaZgloszenia)</td>
                                </tr>
                            </table>

                        <p style="margin-top: 20px;">
                            @{
                                if (item.stanZgloszenia == "akceptowany")
                                {
                                    @Html.ActionLink(" ", "AkceptujZgloszenie", null, new { id = item.idOferty }, new { @class = "btn btn-success fas fa-check-circle fa-2x disabled" })
                                }
                                else
                                {
                                    @Html.ActionLink(" ", "AkceptujZgloszenie", null, new { id = item.idOferty }, new { @class = "btn btn-success fas fa-check-circle fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Akceptuj projekt" })
                                }
                            }
                            @Html.ActionLink(" ", "Edit_Przelozony", null, new { id = item.idOferty }, new { @class = "btn btn-warning fas fa-edit fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Edytuj zgłoszenie" })
                            @Html.ActionLink(" ", "Details_Przelozony", null, new { id = item.idOferty }, new { @class = "btn btn-primary fas fa-info-circle fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Zobacz szczegóły zgłoszenia" })
                            @Html.ActionLink(" ", "Delete_Przelozony", null, new { id = item.idOferty }, new { @class = "btn btn-danger fas fa-times-circle fa-2x", @data_toggle = "tooltip", @data_placement = "bottom", title = "Usuń(odrzuć) projekt" })
                        </p>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

    @Html.ActionLink("Wróć", "Przelozony", null, null, new { @class = "btn przyciskPowrot" })

