@model IEnumerable<crud.Models.Zgloszenia>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Lista zgłoszeń";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
    <!-- czcionka do naglowkow tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Marmelad&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- czcionka do zawartosci tabeli -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<div class="naglowekStrony">
    Lista zgłoszeń
</div>

<table class="table">
    <tr class="text-center" style="font-family: 'Marmelad', sans-serif;">
        <th>
            Imię i nazwisko
        </th>
        <th>
            Numer telefonu
        </th>
        <th class="text-center">
            Mail
        </th>
        <th>
            Miejsce realizacji
        </th>
        <th>
            Stan zgłoszenia
        </th>
        <th>
            Zgłoszenie otrzymano
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="parzysty nieparzysty text-center" style="font-family: 'Maven Pro', sans-serif;">
            <td>
                @Html.DisplayFor(modelItem => item.imie_nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nr_telefonu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miejsce_realizacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stanZgloszenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataOtrzymaniaZgloszenia)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit_Przelozony", null, new { id = item.idOferty }, new { @class = "btn przyciskSterowania3" })
                @Html.ActionLink("Szczegóły", "Details_Przelozony", null, new { id = item.idOferty }, new { @class = "btn przyciskSterowania2" })
                @Html.ActionLink("Odrzuć", "Delete_Przelozony", null, new { id = item.idOferty }, new { @class = "btn przyciskSterowania4" })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Wróć", "Przelozony", null, null, new { @class = "btn przyciskPowrot" })

