@model IEnumerable<crud.Models.Zgloszenia>

@{
    <!-- tytul strony -->
    ViewBag.Title = "Tytul strony";
}

<head>
    <!-- zalaczenie biblioteki globalnej style.css -->
    <link rel="Stylesheet" href="~/Content/style.css" type="text/css" />
</head>

<div class="naglowekStrony">
    Lista zgłoszeń
</div>

<table class="table">
    <tr>
        <th>
            Imię i nazwisko
        </th>
        <th>
            Numer telefonu
        </th>
        <th class="text-center">
            Mail
        </th>
        <th>
            Miejsce realizacji
        </th>
        <th>
            Czas trwania
        </th>
        <th>
            Stan zgłoszenia
        </th>
        <th>
            Zgłoszenie otrzymano
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="parzysty nieparzysty text-center">
            <td>
                @Html.DisplayFor(modelItem => item.imie_nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nr_telefonu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miejsce_realizacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.czas_trwania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stanZgloszenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataOtrzymaniaZgloszenia)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit_Przelozony", null, new { id = item.idOferty }, new { @class = "btn btn-primary przyciskWiekszy" })
                @Html.ActionLink("Szczegóły", "Details_Przelozony", null, new { id = item.idOferty }, new { @class = "btn btn-info" })
                @Html.ActionLink("Odrzuć", "Delete_Przelozony", null, new { id = item.idOferty }, new { @class = "btn btn-danger przyciskWiekszy" })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Wróć", "Przelozony", null, null, new { @class = "btn btn-primary przyciskPowrot" })

